<app-hijo
(Message1)="recibirMensaje($event)"
(Message2)="recibirSegundo($event)"
(Message3)="recibirTercer($event)"
(Message4)="recibirCuarto($event)"
(Message5)="recibirQuinto($event)"
>
</app-hijo>
<div class="container col-6 mt-5">
  <h2 class="mb-2">Mensajes desde @Output</h2>

  <ul>
    <li>
      1er Mensaje del componente hijo al padre: {{ primerMensaje }}
    </li>
    <li>
      2do Mensaje del componente hijo al padre: {{ segundoMensaje }}
    </li>
    <li>
      3er Mensaje del componente hijo al padre: {{ tercerMensaje }}
    </li>
    <li>
      4to Mensaje del componente hijo al padre: {{ cuartoMensaje }}
    </li>
    <li>
      5to Mensaje del componente hijo al padre: {{ quintoMensaje }}
    </li>
  </ul>
</div>